<!-- your html code here -->
<div class="container" style="display:flex; margin-top:25px; margin-bottom:50px;">
    <div style ="flex:1">
        <img src="assets/img/2.jpg" height=150px width=150px style="border-radius: 50%;"  alt="">
    </div>
    <div style="flex:3; padding-left: 10px">
        <h2>This Second Heading Is Pretty Cool Too</h2>
        <p>(Zoheb) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quidem eum distinctio omnis? In commodi, ipsam doloremque cupiditate quisquam officiis ea magni. Non beatae magnam alias dignissimos quos hic animi!</p>
    </div>
</div>